# Basic application environment
APP_NAME="Poo Project"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# Logs
LOG_DRIVER=daily
LOG_PATH=storage/logs
LOG_IDENTIFIER=poo_project
LOG_LEVEL=debug

# Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=project

# Translations
LOCAL_FALLBACK=fr-FR
LOCAL_FOLDER=storage/lang

# Mails
MAIL_TYPE=log
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_FROM_ADDRESS="contact@example.local"
MAIL_FROM_NAME="Contact Poo Project"

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

# Maintenance mode
MAINTENANCE_FILE=storage/framework/down.json
MAINTENANCE_COOKIE_NAME=maintenance_bypass
MAINTENANCE_COOKIE_DURATION=7200
MAINTENANCE_SECRET=change_me
MAINTENANCE_RETRY=3600

# Cache
CACHE_DRIVER=file
CACHE_PREFIX=poo_cache
CACHE_FILE_PATH=storage/framework/cache
CACHE_REDIS_DATABASE=0
CACHE_REDIS_TIMEOUT=2
