# NGINX Proxy
PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443

# Database
DB_ACCESS_PORT=3306
DB_ROOT_PASSWORD=root
DB_DATABASE=poo_project
DB_USER=poo_user
DB_PASSWORD=poo_password

# Redis
REDIS_ACCESS_PORT=6379
